@page "/api/Presupuestos"
@inject IHttpServicio http
@using Proyecto_Zetta.DB.Data.Entity

<h3>ListaPresupuesto</h3>
<br />
<table>
    <tr>
        <th>Estado</th>
        <br />
        <th>Insumos</th>
        <br />
        <th>ManosdeObra</th>
        <br />
        <th>PrecioFinal</th>
    </tr>
    @foreach(var item in listaPresupuestos)
    {
        <tr>
            <td>@item.Estado</td>
            <td>@item.Insumos</td>
            <td>@item.ManodeObra</td>
            <td>@item.PrecioFinal</td>
        </tr>
    }

</table>

@code {
    List<Presupuesto> listaPresupuestos;
    string Mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        var respuesta = await http.Get<List<Presupuesto>>("api/Presupuestos");
        if(!respuesta.Error)
        {
            listaPresupuestos = respuesta.Respuesta;
        }
        else
        {
            Mensaje = "Error no se pudo leer el presupuesto";
        }
    }
}
